/* CONTACT PAGE */
form {
    position: relative;
    z-index: 2;
    padding-top: 50px;
    margin: 0 auto;
    width: 300px;
}

label {
    padding-left: 10px;
}

.form-control {
    border-radius: 25px; 
    background-color: #e7f3ff;
}

.btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 25px;
}

/* CONTACT PAGE END */