/* Medium devices (landscape phones, 1000px until 500px) */
@media (max-width: 1000px) {

    #aboutmelist {
        font-size: 150%;
    }

}

/* Medium devices (landscape phones, 767px up until 500px) */
@media (max-width: 767px) {

    .nav-item .active {
        padding-left: 8px;
        margin-top: 3px;

    #aboutmelist {
        font-size: 100%;
        margin-top: 20px;
    }

    .small{
        width: 150px;
        height: 150px;
        left: -75px;
        bottom: -75px;
      }
      
      .medium{
        width: 300px;
        height: 300px;
        left: -150px;
        bottom: -150px;
      }
      
      .large{
        width: 450px;
        height: 450px;
        left: -225px;
        bottom: -225px;
      }
      
      .xlarge{
        width: 600px;
        height: 600px;
        left: -300px;
        bottom: -300px;
      }
      
      .xxlarge{
        width: 750px;
        height: 750px;
        left: -375px;
        bottom: -375px;
      }

}

/* Small devices (landscape phones, 500px and below) */
@media (max-width: 500px) {

    form {
        margin: 0 auto;
        width: 85%;
    }

    #aboutmelist {
        font-size: 100%;
    }

    .small{
        width: 100px;
        height: 100px;
        left: -50px;
        bottom: -50px;
    }
      
    .medium{
        width: 200px;
        height: 200px;
        left: -100px;
        bottom: -100px;
    }
      
    .large{
        width: 300px;
        height: 300px;
        left: -150px;
        bottom: -150px;
    }
      
    .xlarge{
        width: 400px;
        height: 400px;
        left: -200px;
        bottom: -200px;
    }
      
    .xxlarge{
        width: 500px;
        height: 500px;
        left: -250px;
        bottom: -250px;
    }
    
}