/* Small devices (landscape phones, 500px and below) */
@media (max-width: 500px) {
    img {
        width: 100%;
        height: auto;
    }

    form {
        margin: 0 auto;
        width: 90%;
    }

    /*.burger-nav {
        display: block;
        height: 40px;
        width: 100%;
        background-image: url(./assets/images/burger.png);
        background-color: #e7f3ff;
        cursor: pointer;
    }