/* JUMBOTRON */
.jumbotron {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    margin-top: 30px;
    width: 90%;
    height: auto;
    border-radius: 25px;
    background-color: #e7f3ff;
}

.display-4 {
    font-size: 300%;
}

img {
    border-radius: 25px;
    width: 100%;
    height: auto;
}

.btn {
    margin-top: 50px;
    border-radius: 25px;
}

#aboutmelist {
    font-size: 200%;
}

/* JUMBOTRON END */